html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Martian Mono', monospace;
  background-color: #666666;
}

.panel {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  transition: all 250ms ease-in-out;
}

.page-enter {
  filter: blur(10px);
  opacity: 0;
}

.page-enter-active {
  filter: none;
  opacity: 1;
}

.page-exit {
  filter: none;
  opacity: 1;
}

.page-exit-active {
  filter: blur(10px);
  opacity: 0;
}

/* .page-enter {
  transform: scale(0.95);
  opacity: 0;
}

.page-enter-active {
  transform: scale(1);
  opacity: 1;
}

.page-exit {
  transform: scale(1);
  opacity: 1;
}

.page-exit-active {
  transform: scale(0.95);
  opacity: 0;
} */
